<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace속성 : 이 XML파일과 매핑될 자바 인터페이스의 전체 경로를 지정
    id : 인터페이스 명과 동일하게 작성(즉,재정의 역할을 함)
    parameterType : 매개변수의 자료형
    resultType : 반환값의 자료형

-->
<mapper namespace="com.site.mapper.UserMapper">
    <select id="findById" parameterType="java.lang.String" resultType="com.site.domain.User">
        SELECT id, password, name, email, createAt
        FROM user
        WHERE id = #{id}
    </select>
    <insert id="save" parameterType="com.site.domain.User">
        INSERT INTO user (id, password, name, email)
        VALUES (#{id}, #{password}, #{name}, #{email, jdbcType=VARCHAR})
    </insert>
    <update id="update" parameterType="com.site.domain.User">
        UPDATE user
        SET password = #{password}, email = #{email}
        WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM user
        WHERE id = #{id}
    </delete>
</mapper>